@model AircraftCreateViewModel

<h3>Create Aircraft</h3>
<br />

<form asp-controller="Aircraft" asp-action="CreatePost" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Registration"></label>
            <input asp-for="Registration" class="form-control">
            <span asp-validation-for="Registration" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Type"></label>
            <input asp-for="Type" class="form-control">
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="FConfig"></label>
            <input asp-for="FConfig" class="form-control">
            <span asp-validation-for="FConfig" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="JConfig"></label>
            <input asp-for="JConfig" class="form-control">
            <span asp-validation-for="JConfig" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="YConfig"></label>
            <input asp-for="YConfig" class="form-control">
            <span asp-validation-for="YConfig" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Create</button>
</form>